* {
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
    scroll-behavior: smooth;
}

body {
    font-size: 1.6rem;
    font-family: "Poppins", sans-serif;
}


/* commom */
a {
    text-decoration: none;
}

.content {
    width: 1170px;
    margin-left: auto;
    margin-right: auto;
}

.btn {
    max-height: 50px;
    padding: 11px 35px;
    border-radius: 24.5px;
    background: #171100;
    font-family: Poppins;
    color: #FFF;
    font-size: 1.6rem;
    font-weight: 600;
    line-height: 1.75; /* 175% */
}


/* =====header===== */

.header {
    background: #FFFCF4;
    padding: 8px 0;
    position: sticky;
    top: 0;
    z-index: 1;
}

.header .navbar {
    display: flex;
    align-items: center; 
    justify-content: space-between;
}

.header .navbar .logo {
    color: #171100;
    font-family: Sen;
    font-size: 2.4rem;
    font-weight: 700;
    line-height: 1.42; /* 141.667% */
}

.header .navbar .logo::after {
    content: ".";
    color: #FFB900;
    font-family: Sen;
    font-size: 2.4rem;
    font-weight: 700;
    line-height: 1.42;
}

.header .navbar .menu {
    display: flex;
    align-items: center;
}

.header .navbar .menu .item a{
    padding:  8px 21px;
    text-decoration: none;
    color: #5F5B53;
    font-family: Poppins;
    font-size: 1.6rem;
    font-weight: 400;
    line-height: 1.75; /* 175% */
}

.header .navbar .menu .item a:hover {
    border-radius: 8px;
    background-color: #ccc;
}

.btn-sign_up {
    margin-left: 50px;
}

.btn-sign_up:hover {
    opacity: 0.9;
}

/* =====Hero===== */

.hero {
    
    height: calc( 100vh - 66px);
    background: #FFFCF4;
    padding-top: 56px;
}

.hero .content {
    display: flex;
    position: relative;
}

.hero .image {
    width: 470px;
    height: 685px;
    object-fit: cover;
    border-radius: 20px;
}

.hero .noi-dung {
    width: 470px;
    margin-left: auto;
}

.hero .noi-dung .title {
    margin-top: 100px;
    color: #171100;
    font-family: Sen;
    font-size: 5.8rem;
    font-weight: 700;
    line-height: 1.17; /* 117.241% */
    letter-spacing: -1.16px;
}

.hero .noi-dung .desc {
    margin-top: 22px;
    color: #5F5B53;
    font-family: Poppins;
    font-size: 1.8rem;
    font-weight: 400;
    line-height: 1.67; /* 166.667% */
}

.hero .noi-dung .action {
    display: flex;
    margin-top: 38px;
}

.hero .noi-dung .action .see{
    display: flex;
    align-items: center;
}

.hero .noi-dung .action .see a {
    text-decoration: none;
    color: #171100;
    font-family: Poppins;
    font-size: 1.8rem;
    font-weight: 600;
    line-height: 1.67; /* 166.667% */
    padding: 17px 35px;
    }

    .hero .noi-dung .action .see a:first-child{
        margin-right: 32px;
        background: #FFB900;
        border-radius: 32px;
        color: #FFF;
    }

    .hero .noi-dung .action .see:last-of-type a {
        padding-left: 0;
    }

    .hero .noi-dung .action .see .watch {
        width: 40px;
        height: 40px;
        object-fit: cover;
        position: relative;
        top: 3px;
    }
    .hero .noi-dung .stats {
        position: relative;
        margin-top: 86px;
        display: flex;
        align-items: baseline;
    }

    .hero .noi-dung .stats .stats-data {
        color: #171100;
        font-family: Sen;
        font-size: 4.4rem;
        font-weight: 700;
        line-height: 1.23; /* 122.727% */
    }

    .hero .noi-dung .stats :nth-child(3) {
        margin-right: 32px;
    }

    .hero .stats .desc {
        position: absolute;
        top: -60px;
    }

    .hero .noi-dung .stats .stats-desc {
        margin-left: 8px;
        color: #5F5B53;
        font-family: Poppins;
        font-size: 1.8rem;
        font-weight: 400;
        line-height: 30px;
    }

.hero .card {
    position: absolute;
    top: 393px;
    left: 300px;
    width: 270px;
    height: 244px;
    background: #FFF;
    padding: 24px;
    border-radius: 12px;
    box-shadow: 0px 16px 32px 0px rgba(0, 0, 0, 0.05);

}

.hero .card .card-item {
    display: flex;
    align-items: center;
    gap: 16px;
}

.hero .card .card-item .sub-title {
    color: #5F5B53;
    font-family: Poppins;
    font-size: 1.4rem;
    font-weight: 400;
    line-height: 1.85; /* 185.714% */
}


.hero .card .card-item .ten-khoa-hoc {
    color: #171100;
    font-family: Poppins;
    font-size: 1.8rem;
    font-weight: 600;
    line-height: 1.66; /* 166.667% */
}

.hero .card .card-item:nth-child(2) {
    margin: 14px 0;
}


/* =====courses===== */

.coureses {
    margin-top: 140px;
    padding: 60px 0;
}

.coureses .text {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.coureses .title {
    color: #171100;
    font-family: Sen;
    font-size: 3.8rem;
    font-weight: 700;
    line-height: 1.26; /* 126.316% */
    letter-spacing: -0.76px;
}

.coureses .desc {
    margin-top: 16px;
    width: 458px;
    color: #5F5B53;
    font-family: Poppins;
    font-size: 1.8rem;
    font-weight: 400;
    line-height: 1.66;
}

.coureses .action {
    display: flex;
    gap: 20px;
}

.coureses .action .luot-trang{
    justify-content: center;
    align-items: center;
    display: flex;
    text-decoration: none;
    width: 39px;
    height: 39px;
    border: 1px solid #FFB900;
    border-radius: 50%;
    font-size: 2.5rem;
    color: #FFB900;
}

.coureses .action .luot-trang:hover {
    background: #FFB900;
    color: #FFF;
}

.coureses .list {
    display: flex;
    justify-content: space-between;
}

.coureses .card {
    margin-top: 55px;
    width: 370px;
    height: 466px;
    border-radius: 12px;
    box-shadow: 0px 18px 36px 0px rgba(0, 0, 0, 0.05);
    overflow: hidden;
}

.coureses .card .anh-khoa-hoc {
    width: 370px;
    height: 278px;
    object-fit: cover;
}

.coureses .card .thong-tin {
    margin-top: 16px;
    width: 326px;
    height: 150px;
    margin-left: auto;
    margin-right: auto;
}

.coureses .card .thong-tin .name-rank {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.coureses .card .thong-tin .rank {
    display: flex;
    gap: 6px;
}

.coureses .card .name-course {
    color: #171100;
    font-family: Poppins;
    font-size: 1.8rem;
    font-weight: 600;
    line-height: 1.66; /* 166.667% */
}
.coureses .card .thong-tin .course-desc {
    width: 326px;
    color: #5F5B53;
    font-family: Poppins;
    font-size: 1.4rem;
    font-weight: 400;
    line-height: 1.85; /* 185.714% */
}

.coureses .card .thong-tin .buy {
    margin-top: 12px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.coureses .card .thong-tin .buy .price {
    color: #171100;
    font-family: Poppins;
    font-size: 1.8rem;
    font-weight: 600;
    line-height: 1.66; /* 166.667% */
}

.coureses .card .thong-tin .buy .action-buy {
    text-decoration: none;
}

.coureses .card .thong-tin .buy .action-buy:hover{
    background: #FFB900;
}

/* =========feed-back======== */

.feed-back {
    margin-top: 140px;
    height: 380px;
     background: #2E2100;
     padding: 96px 0;
}

.feed-back .content {
    display: flex;
    justify-content: space-between;
}

.feed-back .person .person-img {
    width: 72px;
    height: 72px;
    object-fit: cover;
    border-radius: 50%;
}
.feed-back .content .person .name {
    margin-top: 18px;
    color: #F7F7F7;
    font-family: Sen;
    font-size: 2.4rem;
    font-weight: 700;
    line-height: 1.41; /* 141.667% */
}

.feed-back .content .person .position {
    margin-top: 4px;
    color: #BFBCB2;
    font-family: Poppins;
    font-size: 1.4rem;
    font-weight: 400;
    line-height: 1.85; /* 185.714% */
}
.feed-back .person .icon {
    margin-top: 28px;
    display: flex;
    gap: 6px;
}

.feed-back .person .icon .dau-tron {
    width: 6px;
    height: 6px;
    border-radius: 50%;
    background: #634700;
}

.feed-back .person .icon .dau-tron:nth-child(2){
    background: #FFB900;
}

.feed-back .noi-dung .dau-ngoac {
    width: 30px;
    height: 28px;
    object-fit: cover;
}

.feed-back .noi-dung .text {
    width: 740px;
    color: #FFF;
    font-family: Poppins;
    font-size: 2.6rem;
    font-style: italic;
    font-weight: 400;
    line-height: 1.54;
}

.features .content {
    display: flex;
    justify-content: space-between;
    margin-top: 200px;
    height: 438px;
}


.features .fea-image .image {
    width: 270px;
    height: 405px;
    border-radius: 16px;
    object-fit: cover;
}

.features .fea-image .image:first-child {
    margin-right: 30px;
    position: relative;
    top: 33px;
}

.features .noi-dung {
    width: 470px;
}

.features .noi-dung .sub-title {
    margin-top: 58px;
    color: #171100;
    font-family: Sen;
    font-size: 3.8rem;
    font-weight: 700;
    line-height: 1.26; /* 126.316% */
    letter-spacing: -0.76px;
}

.features .noi-dung .desc ,.features .noi-dung .year  {
    margin-top: 16px;
    color: #5F5B53;
    font-family: Poppins;
    font-size: 1.6rem;
    font-weight: 400;
    line-height: 1.75; /* 175% */
}

.features .noi-dung .btn {
    display: inline-block;
    margin-top: 32px;
    text-decoration: none;
    text-align: center;
    font-family: Poppins;
    font-size: 1.6rem;
    font-weight: 600;
    line-height: 1.75; /* 175% */
}

.features .noi-dung .btn:hover {
    background-color: #FFB900;
}

/* ======CTA======= */

.cta {
    margin-top: 200px;
}

.cta .content {
    display: flex;
    justify-content: space-between;
}

.cta .content .word {
    width: 570px;
}

.cta .word .sub-title {
    margin-top: 71px;
    color: #171100;
    font-family: Sen;
    font-size: 3.8rem;
    font-weight: 700;
    line-height: 1.26; /* 126.316% */
    letter-spacing: -0.76px;
}

.cta .word .desc {
    margin-top: 16px;
    color: #5F5B53;
    font-family: Poppins;
    font-size: 1.6rem;
    font-weight: 400;
    line-height: 1.75; /* 175% */
}

.cta .word .btn {
    display: inline-block;
    margin-top: 32px;
    text-decoration: none;
}

.cta .word .btn:hover {
    background: #FFB900;
}

.cta .image {
    width: 470px;
    height: 440px;
    border-radius: 20px;
}

/* ======BLOG===== */

.blog {
    margin-top: 200px;
    background: #FFFCF4;
    padding: 96px 0;
}

.blog .title {
    color: #130606;
    text-align: center;
    font-family: Sen;
    font-size: 3.8rem;
    font-weight: 700;
    line-height: 1.26; /* 126.316% */
    letter-spacing: -0.76px;
}

.blog .desc {
    margin: auto;
    width: 448px;
    color: #696262;
    text-align: center;
    font-family: Poppins;
    font-size: 1.6rem;
    font-weight: 400;
    line-height: 1.75; /* 175% */
}

.blog .list {
    display: flex;
    justify-content: space-between;
    margin-top: 55px;
}
.blog .list .card {
    overflow: hidden;
    width: 370px;
    height: 467px;
    border-radius: 16px;
    border: 1px solid #E2DFDA;
    background: #FFF;
}

.blog .list .card .blog-img {
    object-fit: cover;
    width: 370px;
    height: 250px;
}

.blog .list .card .text {
    width: 330px;
    height: 169px;
    margin: 20px;

}

.blog .list .card .year {
    color: #5F5B53;
    font-family: Poppins;
    font-size: 1.4rem;
    font-weight: 400;
    line-height: 1.86; /* 185.714% */
}

.blog .list .card .year::before {
    content: "";
    margin-right: 4px;
    display: inline-block;
    position: relative;
    top: -2px;
    width: 6px;
    height: 6px;
    border-radius: 50%;
    background: #FFB900;
}

.blog .list .card .sub-title {
    position: relative;
    margin-top: 25px;
    color: #171100;
    font-family: Poppins;
    font-size: 1.6rem;
    font-weight: 600;
    line-height: 1.75; /* 175% */
}
.blog .list .card .sub-title::before {
    position: absolute;
    top: -12px;
    content: "";
    display: inline-block;
    width: 160px;
    height: 1px;
    border-radius: 0.5px;
    background: #E2DFDA;
}

.blog .list .card .btn {
    margin-top: 12px;
    padding: 12px 21px;
    display: inline-block;
}

.blog .list .card .btn:hover {
    background: #FFB900;
}

.blog .icon {
    margin-top: 38px;
    justify-content: center;
    display: flex;
    gap: 6px;
}

.blog .icon .dau-tron {
    width: 6px;
    height: 6px;
    border-radius: 50%;
    background: #634700;
}

.blog .icon .dau-tron:nth-child(2){
    background: #FFB900;
}

/* =========a bout========== */

.footer {
    padding-top: 96px;
    background: #2E2100;
}

.footer .row {
    display: flex;
    justify-content: space-between;
}

.footer .row-2 {
    display: flex;
    gap: 130px;
}

.footer .brand {
    margin-right: 15px;

}

.footer .brand .logo {
    color: #FFF;
    font-family: Sen;
    font-size: 2.4rem;
    font-weight: 700;
    line-height: 1.42; /* 141.667% */
}

.footer .brand .logo::after {
    content: " .";
    display: inline-block;
    color: #FFB900;
}
.footer .brand .desc {
    margin: 18px 0 ;
    width: 267px;
    color: #BFBCB2;
    font-family: Poppins;
    font-size: 1.4rem;
    font-weight: 400;
    line-height: 1.86; /* 185.714% */
}


.footer .about {
    max-width: 231px;
}

.footer .about  {
    width: fit-content;
}

.footer .about .title {
    position: relative;
    color: #FFF;
    font-family: Poppins;
    font-size: 1.6rem;
    font-weight: 600;
    line-height: 1.75; /* 175% */
    margin-bottom: 43px;
}

.footer .about .title::after {
    bottom: -14px;
    left: 0;
    position: absolute;
    content: "";
    display: inline-block;
    width: 130px;
    height: 1px;
    background: #59554B;
}

.footer .about .sub-title {
    display: block;
    color: #BFBCB2;
    margin-bottom: 12px;
    font-family: Poppins;
    font-size: 1.4rem;
    font-weight: 400;
    line-height: 1.86; /* 185.714% */
}

.footer strong {
    color:#FFF ;
    font-weight: 600;
}

.footer .ke {
    margin-top: 24px;
    width: 1170px;
    height: 1px;
    background: #59554B;
}

.footer .copyright {
    padding: 28px 0 28px 0;
    color: #807D74;
    text-align: center;
    font-family: Poppins;
    font-size: 1.4rem;
    font-weight: 400;
    line-height: 1.86; /* 185.714% */
}



main {
    width: 100vw;
    margin-left: auto;
    margin-right: auto;
}

